{% if include.style %}{% assign style = include.style %}{% else %}{% assign style = "primary" %}{% endif %}<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-{{ style }} shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-{{ style }} text-uppercase mb-1">Earnings (Monthly)</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ include.value }}</div>
        </div>
        <div class="col-auto">
          <i class="fas {{ include.icon }} fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
