<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span style="margin-bottom:20px">&copy; {{ site.author.name }} &nbsp;&bull;&nbsp; {{ site.time | date: '%Y' }}</span><br><br>
	  {% if site.author.facebook %}<a target="_blank" href="https://www.facebook.com/{{ site.author.facebook }}" style="background-color:#4267b2" class="btn btn-primary btn-circle btn-sm">
	    <i style="color:white" class="fab fa-facebook-f"></i>
	  </a>{% endif %}{% if site.author.github %}
	  <a target="_blank" href="https://www.github.com/{{ site.author.github }}" style="background-color:black" class="btn btn-circle btn-sm">
	    <i class="fab fa-2x fa-github" style='color:white'></i>
	  </a>{% endif %}{% if site.author.twitter %}
	  <a target="_blank" href="https://www.twitter.com/{{ site.author.twitter }}" style="background-color:#38A1F3" class="btn btn-circle btn-sm">
	    <i class="fab fa-twitter" style="color:white"></i>
	  </a>{% endif %}
    </div>
  </div>
</footer>
