<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function() {

    var toc = $('#toc');
      sections = $('#the-content').find("h2");
      $.each(sections, function(idx, v) {
          section = $(v);
          var div_id = $(section).attr('id');
          var div_text = section.text().split('¶')[0];
          var parent = $("#" + div_id)
          var content = '<li id="link_' + div_id + '"><a href="#' + div_id + '" title="' + div_text +'">' + div_text +'</a></li>';
          $(toc).append(content);

          // Add section code to subnavigation
          var children = $('<ul></ul>')
          var contenders = $("#" + div_id).nextUntil("h2");
          $.each(contenders, function(idx, contender){
             if($(contender).is('h3')) {
                 var contender_id = $(contender).attr('id');
                 var contender_text = $(contender).text().split('¶')[0];
                 var content = '<li><a href="#' + contender_id + '" title="' + contender_text +'">' + contender_text +'</a></li>';
                 children.append(content);
              }
           })
           if(children.text().length > 0 ) {
             $("#link_" + div_id).append(children);
           }
      });

      // Adjust toc on scroll
     $(function(){
       var _top = $(window).scrollTop();
       $(window).scroll(function(){
          var _cur_top = $(window).scrollTop();
          if (_cur_top >= 100){
            $('#toc').css('top', _cur_top - 100)
          }
       });
     });
});
</script>
