---
layout: default
---

<div class="container-fluid">
  <div class="row card" style="padding:30px; flex-direction:unset;">
    <div class="col-md-9">
     <h1 style="margin-bottom:20px" class="mb-2 text-gray-800">{{ page.title }}</h1>
     <hr>

     {% if page.image %}<img src="{{ site.baseurl }}{{ page.image }}">{% endif %}

     <div id="the-content">
      {{ content }}
     </div>

      {% if page.tags.size > 0 %}<div class="blog-tags">
          {% if site.link-tags %}{% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{- tag -}}"><span class="badge badge-primary">{{- tag -}}</span></a>
          {% endfor %}{% else %}{{ page.tags | join: ", " }}{% endif %}
        </div>{% endif %}

      {% if page.previous.url %}
      <a style="float:left"  href="{{ page.previous.url | prepend: site.baseurl }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-chevron-left fa-sm text-white-50"></i> {{ page.previous.title }}</a>
      {% endif %}{% if page.next.url %}
      <a style="float:right" href="{{ page.next.url | prepend: site.baseurl }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ page.next.title }} <i class="fas fa-chevron-right fa-sm text-white-50"></i></a>
      {% endif %}
    </div>
    {% include toc.html %}
    <div class="col-md-3" id="toc" data-md-scrollfix>
    </div>
  </div>
</div>
